#show-product-spec{
    color: black;
}

#show-product-spec .show-text{
    color: black;
}

#show-product .container{
    margin-top: 100px;
}

#show-product .btn-primary{
    margin-bottom: 10px;
}

#show-product .btn-primary a{

    color: white;
}

#show-product h2{
    color: black;
    font-weight: 700;
}

#product-detail h4{
    color: black;
}

#product-detail .product-info .show-text{
    font-weight: 700;
}

#show-product #product-detail{
    padding-top: 20px;
}
